@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    background-color: white;
    font-family: 'Comfortaa', cursive !important;
}

.clip-path {
    -webkit-clip-path: polygon(50% 8%, 9% 100%, 92% 100%);
    clip-path: polygon(50% 8%, 9% 100%, 92% 100%);
}
.filterSec .ant-select-selector {
    border: none !important;
}